#main{
    overflow:hidden;
    .cont{
        height: 603px;
         p{
            height: 40px;
            line-height:40px;
            color:#666;
            font-size:12px;
            a{
                color:#666;
            }
        }
        .acont_l{
            width: 436px;
            height: 100%;
            float:left;
            position:relative;
            .acont_m{
                width: 403px;
                height: 403px;
            }
            ul{
                margin-top:10px;
                li{
                    float:left;
                    margin-right:10px;
                    padding:3px;
                    img{
                        opacity:0.5;
                    }
                    .imgcss{opacity:1;box-shadow:0 0 0 1px #EC1611;}
                }
            }

        }
        .acont_c{
            float:left;
            width:385px;
            height: 100%;
            h2{
                color:#333;
                font-size:16px;
                margin-bottom:10px;
            }
            .jiage{
                width:370;
                height: 120px;
                background-color:#FFF6EB;
                padding-left:15px;
                margin-bottom:12px;
                p{
                    font-size:1px;
                    color:#666;
                    height: 30px;
                    line-height:40px;
                    em{
                        color:#EC1611;
                        font-size:24px;
                        weight:bold;
                    }
                    del{
                        color:#666;
                        font-size:12px;
                        margin:0 5px;
                    }
                    i{
                        display:inline-block;
                        width: 47px;
                        height: 19px;
                        border-radius:5px;
                        color:#fff;
                        vertical-align:middle;
                        text-align:center;
                        line-height:19px;
                        margin-right:10px;
                        background-color:#FF8A00;
                    }
                    span{
                        font-size:12px;
                    }
                    span:nth-child(3){padding-left:10px;}
                }
                p:nth-child(1){margin-bottom:10px;}
                p:nth-child(3){
                    color:#FE7393;
                    i{background-color:#FE7393;}
                    span:nth-child(3){
                        display:inline-block;
                        width: 60px;
                        height: 18px;
                        border:1px solid #FE7393;
                        text-align:center;
                        line-height:18px;
                        padding: 0;
                        margin-left:10px;
                        a{
                            color:#FE7393;
                        }
                    }
                }
            }
            dl{
                margin-bottom:15px;
                dt{
                    float:left;
                    width: 52px;
                    height: 19px;
                    background:url('../img/jiantou2.png') no-repeat;
                    color:#fff;
                    font-size:12px;
                    padding-left:10px;
                    vertical-align:bottom;
                }
                dd{
                    font-size:12px;
                    color:#333;
                    line-height:19px;
                    display:inline-block;
                    em{
                        color:#DADAD5;
                        padding:0 20px 0 5px;
                    }
                    p{
                        height: 20px;
                        line-height:20px;
                        i{
                            display:inline-block;
                            width: 18px;
                            height: 18px;
                            background-color:#EC1813;
                            text-align:center;
                            color:#fff;
                            border-radius:3px;
                            margin-right:5px;
                        }
                    }
                    p:nth-child(2){margin-top:10px;}
                    img{border:1px solid #ccc;}
                    a{color:#666;display:inline-block;width:30px;height:25px;border:1px solid #ddd;text-align:center;line-height:25px;}
                    a:hover{background-color:#EC1611;color:#fff;}
                    button{
                        display:inline-block;
                        width: 30px;
                        height: 30px;
                        border:1px solid #ddd;
                        background-color:#fff;
                    }
                    input{
                        width: 50px;
                        height:28px;
                        text-align:center;
                        border:1px solid #ddd;
                        vertical-align:top;
                        margin:0 -1px;
                    }
                }
            }
            .anniu{
                margin-top:20px;
                a{
                    display:inline-block;
                    width: 160px;
                    height: 55px;
                    text-align:center;
                    line-height:55px;
                    font-size:20px;
                    border:1px solid #EC1611;
                    color:#EC1611;
                }
                a:nth-child(2){
                    background-color:#EC1611;
                    color:#fff;
                    margin-left:10px;
                }
            }
            .tuihuo{
                p{
                    i{
                        display:inline-block;
                        width:18px;
                        height:18px;
                        color:#fff;
                        background-color:#EC1611;
                        line-height:20px;
                        text-align:center;
                        font-size:12px;
                        border-radius:5px;
                        margin-right:5px;
                        vertical-align:middle;
                    }
                    i:nth-child(3){background:url('../img/quan.png') no-repeat;background-color:#fff;margin:10px 5px 0 10px;}
                    span{
                        vertical-align:bottom;
                        font-size:12px;
                        line-height:30px;
                    }

                }
            }
        }
        .acont_r{
            float:right;
            width: 180px;
            height:482px;
            border:1px solid #ddd;
            padding:15px 15px 0 15px;
            ul{
                li{
                    h3{
                        height: 38px;
                        border-bottom:1px dashed #ddd;
                        line-height:38px;
                        font-size:14px;
                        color:#333;
                    }
                    p{
                        font-size:12px;
                        line-height:40px;
                        span{
                            color:#FF404C;
                        }
                    }
                     em{
                        display:inline-block;
                        text-align:center;
                        width: 65px;
                        height: 28px;
                        border:1px solid #FF404C;
                        line-height:28px;
                        border-radius:3px;
                        font-size:12px;
                        color:#FF404C;
                    }  
                    em:hover{background-color:#FF404C;color:#fff;}
                }
                li:nth-child(2){
                    border-bottom:1px dashed #ddd;
                    p:nth-child(1){width: 134px;background:url('../img/xinyu.png') right no-repeat;margin-top:20px;}
                    p:nth-child(2){width: 122px;background:url('../img/zhizi.png') right no-repeat;}
                }
                li:nth-child(4){margin:20px 0 0 10px;}
            }
        }
    }
}
#goods{
    .cont{
        overflow:hidden;
        margin-bottom:20px;
        .gcont_l{
            width: 182px;
            .log{
                display:block;
                width: 100%;
                height: 43px;
                text-align:center;
                line-height:43px;
                background-color:#FAFAFA;
                font-size:18px;
                font-weight:bold;
                border-bottom:1px solid #DFDFDF;
            }
            .goodsx{

                ul{
                    li{
                        width: 100%;
                        height: 212px;
                        margin-top:20px;
                        position:relative;
                        p{
                            font-size:12px;
                            width: 100%;
                            height: 30px;
                            line-height:30px;
                            background-color:#F5F5F5;
                            margin-top:5px;
                            overflow:hidden;
                            white-space: nowrap;
                            text-overflow:ellipsis;
                            a{
                                color:#666;
                            }
                        }
                        p:hover a{border-bottom:1px solid #EC1611;color:#EC1611;}
                        h6{
                            width: 100%;
                            height: 30px;
                            line-height:30px;
                            opacity:0.7;
                            background-color:#fff;
                            position:absolute;
                            bottom:38px;
                            left: 0;
                            em{
                                float:left;
                                color:#999;
                            }
                            span{
                                float:right;
                                color:#EC165B;
                            }
                        }

                    }
                }
            }
        }
        .gcont_r{
            .tgb1{
                height: 43px;
                width:878px;
                background-color:#FAFAFA;
                border-bottom:1px dashed #DFDFDF;
                line-height:43px;
                li{
                    float:left;
                    height: 43px;
                    padding:0 30px;
                    a{
                        color:#666;
                    }
                }
                li:nth-child(1){
                    font-size:18px;
                    font-weight:bold;
                    border-bottom:3px solid #FF404C;
                    height:41px;
                    background-color:#fff;
                    a{
                        color:#FF404C;
                    }
                }
            }
            .gcont_rb{
                margin:20px 0 0 20px;
                ul{
                    padding-left:12px;
                    width:846px;
                    border-bottom:1px dashed #ddd;
                    h3{color:#000;font-weight:bold;padding:10px;}
                    li{
                        font-size:12px;
                        color:#333;
                    }
                }
                .tgb2{
                    height: 133px;
                    li{
                        width: 261px;
                        float:left;
                        margin-top:20px;
                    }
                }
                .tgb3{
                    height: 120px;
                    padding-top:20px;
                    p{
                        margin-top:15px;
                    }
                }
                .tgb4{
                    height: 270px;
                    span{
                        font-size:14px;
                        font-weight:bold;
                    }
                    p{
                        margin:10px 0;
                    }
                    img{
                        margin-top:20px;
                    }
                }
                .tgb5{
                    height: 180px;
                    p{
                        line-height:40px;
                    }
                }
                .tgn6{
                    border-bottom:none;
                }
            }
        }
    }
}
