#main {
  height: 700px;
  background-color: #F6F6F6;
}

#main .cont .lcont {
  width: 100%;
  height: 88px;
  position: relative;
}

#main .cont .lcont h1 {
  display: block;
  float: left;
  width: 262px;
  height: 87px;
  background: url("../img/hlogo.png") no-repeat;
}

#main .cont .lcont p {
  font-size: 12px;
  color: #666;
  float: right;
  position: absolute;
  bottom: 15px;
  right: 0;
}

#main .cont .mcont {
  height: 510px;
  background-color: #fff;
}

#main .cont .mcont form {
  width: 434px;
  height: 455px;
  padding-top: 55px;
  float: left;
}

#main .cont .mcont form span {
  display: block;
  margin: 0 0 0 137px;
}

#main .cont .mcont form label {
  display: inline-block;
  width: 135px;
  height: 38px;
  text-align: right;
  padding-top: 28px;
}

#main .cont .mcont form input {
  width: 287px;
  height: 38px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-left: 10px;
}

#main .cont .mcont form input:nth-child(12) {
  width: 129px;
}

#main .cont .mcont form i {
  display: inline-block;
  width: 130px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  background-color: #F6F6F6;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: 20px;
  border: 1px solid #ddd;
  color: #ccc;
}

#main .cont .mcont form input:nth-child(14) {
  width: 15px;
  height: 15px;
  margin-left: 135px;
}

#main .cont .mcont form p {
  display: inline-block;
  color: #666;
  font-size: 12px;
}

#main .cont .mcont form em {
  width: 181px;
  height: 33px;
  display: block;
  text-align: center;
  line-height: 33px;
  color: #fff;
  background-color: #FF3B37;
  border-radius: 3px;
  margin: 20px 0 0 135px;
}

#main .cont .mcont form em:hover {
  opacity: 0.7;
}

#main .cont .mcont .mcont_r {
  height: 100%;
  padding-right: 50px;
  position: relative;
}

#main .cont .mcont .mcont_r p {
  font-size: 12px;
  color: #333;
  text-align: center;
  background-color: #fff;
  z-index: 200;
  position: absolute;
  bottom: 173px;
  left: 170px;
  padding: 0 10px;
}

#main .cont .mcont .mcont_r .baiqq {
  width: 350px;
  height: 100px;
  border-top: 1px solid #ddd;
  padding: 33px 0 0 130px;
}

#main .cont .mcont .mcont_r .baiqq span {
  display: inline-block;
  width: 110px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ddd;
  background-color: #F6F6F6;
  margin-right: 10px;
  border-radius: 3px;
  color: #333;
  position: relative;
}

#main .cont .mcont .mcont_r .baiqq span i {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: url("../img/qq.png") no-repeat;
}

#main .cont .mcont .mcont_r .baiqq span .baidu {
  background: url("../img/baidu.png") no-repeat;
}

#main .cont .mcont .mcont_r .baiqq span:hover {
  opacity: 0.7;
}

#main .cont .fcont p {
  font-size: 12px;
  color: #9999B0;
  text-align: center;
  padding: 20px;
}

#main .cont .fcont p a {
  color: #333;
}

#main .cont .fcont p a:hover {
  border-bottom: 1px solid #FF3B37;
  color: #FF3B37;
}

#dmain {
  height: 700px;
  background-color: #F6F6F6;
}

#dmain .cont {
  width: 950px;
}

#dmain .cont .dcont {
  width: 100%;
  height: 88px;
  position: relative;
  overflow: hidden;
}

#dmain .cont .dcont h1 {
  display: block;
  float: left;
  width: 262px;
  height: 87px;
  background: url("../img/hlogo.png") no-repeat;
}

#dmain .cont .dcont p {
  font-size: 12px;
  color: #666;
  float: right;
  position: absolute;
  bottom: 15px;
  right: 0;
}

#dmain .cont .acont {
  height: 460px;
  background-color: #fff;
  overflow: hidden;
  padding: 50px 0 0 50px;
}

#dmain .cont .acont form {
  width: 283px;
  height: 415px;
  float: left;
  border: 1px solid #ddd;
  padding: 38px 0 0 18px;
}

#dmain .cont .acont form .danniu {
  margin-bottom: 15px;
}

#dmain .cont .acont form .danniu label {
  color: #333;
  font-size: 12px;
}

#dmain .cont .acont form .danniu input {
  width: 12px;
  height: 12px;
  margin-bottom: 0;
}

#dmain .cont .acont form input {
  width: 187px;
  height: 36px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding-left: 10px;
  margin-bottom: 20px;
}

#dmain .cont .acont form label {
  color: #333;
}

#dmain .cont .acont form .ren {
  background: url("../img/ren.png") no-repeat;
  padding-left: 30px;
}

#dmain .cont .acont form .suo {
  background: url("../img/suo.png") no-repeat;
  padding-left: 30px;
}

#dmain .cont .acont form #yan {
  width: 100px;
}

#dmain .cont .acont form i {
  display: inline-block;
  width: 130px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  background-color: #F6F6F6;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: 20px;
  border: 1px solid #ddd;
  color: #ccc;
}

#dmain .cont .acont form em {
  width: 110px;
  height: 38px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  color: #fff;
  background-color: #FF3B37;
  border-radius: 3px;
  margin-top: 20px;
}

#dmain .cont .acont form em:hover {
  opacity: 0.7;
}

#dmain .cont .acont form span {
  color: #666;
  font-size: 14px;
  margin-left: 30px;
}

#dmain .cont .acont form span:hover {
  border-bottom: 1px solid #666;
}

#dmain .cont .acont form .wai {
  margin-top: 40px;
}

#dmain .cont .acont form .wai p {
  font-size: 12px;
  color: #333;
  margin-bottom: 20px;
}

#dmain .cont .acont .acont_r {
  height: 100%;
  padding-right: 50px;
  position: relative;
}

#dmain .cont .acont .acont_r p {
  font-size: 12px;
  color: #333;
  text-align: center;
  background-color: #fff;
  z-index: 200;
  position: absolute;
  bottom: 173px;
  left: 170px;
  padding: 0 10px;
}

#dmain .cont .ocont p {
  font-size: 12px;
  color: #9999B0;
  text-align: center;
  padding: 20px;
}

#dmain .cont .ocont p a {
  color: #333;
}

#dmain .cont .ocont p a:hover {
  border-bottom: 1px solid #FF3B37;
  color: #FF3B37;
}
